
<partial name="_BannerPartial">
	
	<div class="row mt-5 mb-5">

		<div class="col-3">

			<vc:categories></vc:categories>

		</div>

		<div class="col-9">
			<vc:products category-id="@ViewBag.CategoryId"></vc:products>
		</div>

	</div>
